.todo-add {
  position: relative;

  margin-top: 25px;
  padding: 0 10px;
}

.todo-add__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 30px;

  font-size: 16px;
  letter-spacing: 0.5px;

  border: none;
}

.todo-add__input:focus {
  outline: none;
}

.todo-add:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 12px;

  width: 14px;
  height: 14px;

  background-image: url(../../assets/add-icon.svg);
  background-size: cover;
}
